@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");

.container {
    padding: 0 200px;
}

.content {
    padding: 50px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1.5fr;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.TitleContentTitle {
    font-family: "Shalimar";
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

.titleContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.InfoContentTitle {
    font-size: 40px;
    width: 400px;
    font-weight: 600;
    font-family: serif;
}

.InfoContentInfo {
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.InfoContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sliderImg {
    width: 360px;
    height: 350px;
}

.sliderContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 720px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 310px;
    box-sizing: border-box;
}

.titleContentImg {
    width: 51px;
    height: 14px;
}

.prevButton,
.nextButton {
    background: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prevButton {
    left: 15px;
}

.nextButton {
    right: 10px;
}

.prevButton:hover,
.nextButton:hover {
    background: rgba(0, 0, 0, 0.7);
}

.animate {
    transition: transform 0.5s ease-in-out;
}

@media (max-width: 1430px) {
    .sliderImg {
        width: 350px;
        height: 340px;
    }
    .prevButton {
        left: 20px;
    }

    .nextButton {
        right: 20px;
    }
    .slide {
        flex: 0 0 200px;
    }
    .slider {
        width: 700px;
    }
    .ImgContentImg {
        width: 488px;
        height: 263px;
    }
    .TitleContentTitle {
        font-size: 38px;
    }
    .InfoContentTitle {
        width: 380px;
        font-size: 38px;
    }
    .InfoContentInfo {
        width: 400px;
        font-size: 14px;
    }
}

@media (max-width: 1380px) {
    .sliderImg {
        width: 340px;
        height: 330px;
    }
    .slide {
        flex: 0 0 190px;
    }
    .slider {
        width: 680px;
    }
    .ImgContentImg {
        width: 478px;
        height: 253px;
    }
    .TitleContentTitle {
        font-size: 37px;
    }
    .InfoContentTitle {
        width: 370px;
        font-size: 37px;
    }
    .InfoContentInfo {
        width: 390px;
        font-size: 13px;
    }
}

@media (max-width: 1330px) {
    .sliderImg {
        width: 330px;
        height: 320px;
    }
    .slide {
        flex: 0 0 180px;
    }
    .slider {
        width: 660px;
    }
    .ImgContentImg {
        width: 468px;
        height: 243px;
    }
    .TitleContentTitle {
        font-size: 36px;
    }
    .InfoContentTitle {
        width: 360px;
        font-size: 36px;
    }
    .InfoContentInfo {
        width: 380px;
        font-size: 12px;
    }
    .titleContentImg {
        width: 48px;
        height: 12px;
    }
}

@media (max-width: 1280px) {
    .sliderImg {
        width: 320px;
        height: 310px;
    }
    .slide {
        flex: 0 0 170px;
    }
    .prevButton {
        left: 10px;
    }

    .nextButton {
        right: 10px;
    }
    .slider {
        width: 640px;
    }
    .ImgContentImg {
        width: 458px;
        height: 233px;
    }
    .TitleContentTitle {
        font-size: 35px;
    }
    .InfoContentTitle {
        width: 350px;
        font-size: 35px;
    }
    .InfoContentInfo {
        width: 370px;
        font-size: 11px;
    }
}

@media (max-width: 1230px) {
    .sliderImg {
        width: 310px;
        height: 300px;
    }
    .slide {
        flex: 0 0 160px;
    }

    .ImgContentImg {
        width: 448px;
        height: 223px;
    }
    .TitleContentTitle {
        font-size: 34px;
    }
    .prevButton {
        left: 0px;
    }

    .nextButton {
        right: 0px;
    }
    .slider {
        width: 620px;
    }
    .InfoContentTitle {
        width: 340px;
        font-size: 34px;
    }
    .InfoContentInfo {
        width: 300px;
        font-size: 11px;
    }
}
@media (max-width: 1180px) {
    .prevButton {
        left: 10px;
    }

    .nextButton {
        right: 10px;
    }
    .slider {
        width: 580px;
    }
    .sliderImg {
        width: 290px;
        height: 280px;
    }
    .slide {
        flex: 0 0 140px;
    }

    .ImgContentImg {
        width: 418px;
        height: 193px;
    }
    .TitleContentTitle {
        font-size: 33px;
    }
    .InfoContentTitle {
        width: 310px;
        font-size: 33px;
    }
    .InfoContentInfo {
        width: 280px;
        font-size: 10px;
    }
}
@media (max-width: 1130px) {
    .prevButton {
        left: 0px;
    }

    .nextButton {
        right: 0px;
    }
    .slider {
        width: 560px;
    }
    .sliderImg {
        width: 280px;
        height: 270px;
    }
    .slide {
        flex: 0 0 130px;
    }

    .ImgContentImg {
        width: 408px;
        height: 103px;
    }
    .TitleContentTitle {
        font-size: 32px;
    }
    .InfoContentTitle {
        width: 300px;
        font-size: 32px;
    }
    .InfoContentInfo {
        width: 270px;
        font-size: 10px;
    }
}
@media (max-width: 1080px) {
    .prevButton {
        left: 0px;
    }

    .nextButton {
        right: 0px;
    }
    .slider {
        width: 520px;
    }
    .sliderImg {
        width: 260px;
        height: 250px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .ImgContentImg {
        width: 388px;
        height: 83px;
    }
    .TitleContentTitle {
        font-size: 32px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 32px;
    }
    .InfoContentInfo {
        width: 250px;
        font-size: 10px;
    }
}

@media (max-width: 980px) {
    .prevButton {
        left: 0px;
    }

    .nextButton {
        right: 0px;
    }
    .slider {
        width: 480px;
    }
    .sliderImg {
        width: 240px;
        height: 230px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .ImgContentImg {
        width: 388px;
        height: 83px;
    }
    .TitleContentTitle {
        font-size: 30px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 30px;
    }
    .InfoContentInfo {
        width: 250px;
        font-size: 10px;
    }
    .titleContent {
        gap: 20px;
    }
}
@media (max-width: 930px) {
    .prevButton {
        left: -5px;
        font-size: 29px;
    }

    .nextButton {
        right: -5px;
        font-size: 29px;
    }
    .slider {
        width: 460px;
    }
    .sliderImg {
        width: 230px;
        height: 220px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .ImgContentImg {
        width: 388px;
        height: 83px;
    }
    .TitleContentTitle {
        font-size: 29px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 29px;
    }
    .InfoContentInfo {
        width: 250px;
        font-size: 10px;
    }
    .titleContent {
        gap: 20px;
    }
}
@media (max-width: 880px) {
    .prevButton {
        left: -10px;
        font-size: 28px;
    }

    .nextButton {
        right: -10px;
        font-size: 28px;
    }
    .slider {
        width: 440px;
    }
    .sliderImg {
        width: 220px;
        height: 210px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .ImgContentImg {
        width: 388px;
        height: 83px;
    }
    .TitleContentTitle {
        font-size: 28px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 28px;
    }
    .InfoContentInfo {
        width: 250px;
        font-size: 10px;
    }
    .titleContent {
        gap: 20px;
    }
}

@media (max-width: 830px) {
    .prevButton {
        left: -10px;
        font-size: 27px;
    }

    .nextButton {
        right: -10px;
        font-size: 27px;
    }
    .slider {
        width: 400px;
    }
    .sliderImg {
        width: 200px;
        height: 190px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .TitleContentTitle {
        font-size: 27px;
    }
    .InfoContentTitle {
        width: 270px;
        font-size: 27px;
    }
    .InfoContentInfo {
        width: 240px;
        font-size: 10px;
    }
    .titleContent {
        gap: 20px;
    }
}

@media (max-width: 780px) {
    .prevButton {
        left: -10px;
        font-size: 24px;
    }

    .nextButton {
        right: -10px;
        font-size: 24px;
    }
    .slider {
        width: 380px;
    }
    .sliderImg {
        width: 190px;
        height: 180px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .TitleContentTitle {
        font-size: 24px;
    }
    .InfoContentTitle {
        width: 270px;
        font-size: 24px;
    }
    .InfoContentInfo {
        width: 240px;
        font-size: 9px;
    }
    .titleContent {
        gap: 20px;
    }
}

@media (max-width: 730px) {
    .prevButton {
        left: -10px;
        font-size: 23px;
    }

    .nextButton {
        right: -10px;
        font-size: 23px;
    }
    .slider {
        width: 360px;
    }
    .sliderImg {
        width: 180px;
        height: 170px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .TitleContentTitle {
        font-size: 22px;
    }
    .InfoContentTitle {
        width: 220px;
        font-size: 22px;
    }
    .InfoContentInfo {
        width: 220px;
        font-size: 9px;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 15px;
    }
}

@media (max-width: 680px) {
    .prevButton {
        left: -10px;
        font-size: 21px;
    }

    .nextButton {
        right: -10px;
        font-size: 21px;
    }
    .slider {
        width: 320px;
    }
    .sliderImg {
        width: 160px;
        height: 150px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .TitleContentTitle {
        font-size: 21px;
    }
    .InfoContentTitle {
        width: 220px;
        font-size: 21px;
    }
    .InfoContentInfo {
        width: 220px;
        font-size: 9px;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 15px;
    }
}

@media (max-width: 630px) {
    .content {
        display: flex;
        gap: 30px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .prevButton {
        display: none;
    }

    .nextButton {
        display: none;
    }

    .slider {
        width: 600px;
    }
    .sliderImg {
        width: 280px;
        height: 280px;
    }
    .slide {
        flex: 0 0 60px;
    }
    .slides {
    }

    .TitleContentTitle {
        font-size: 31px;
    }
    .InfoContentTitle {
        width: 320px;
        font-size: 31px;
    }
    .InfoContentInfo {
        width: 420px;
        font-size: 15px;
    }

    .sliderContainer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 20px;
    }
}

@media (max-width: 580px) {
    .content {
        gap: 25px;
    }

    .slider {
        width: 560px;
    }
    .sliderImg {
        width: 250px;
        height: 250px;
    }
    .slide {
        flex: 0 0 60px;
    }
    .slides {
    }

    .TitleContentTitle {
        font-size: 29px;
    }
    .InfoContentTitle {
        width: 320px;
        font-size: 29px;
    }
    .InfoContentInfo {
        width: 420px;
        font-size: 13px;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 20px;
    }
}
@media (max-width: 530px) {
    .content {
        gap: 20px;
    }

    .slider {
        width: 560px;
    }
    .sliderImg {
        width: 230px;
        height: 230px;
    }
    .slide {
        flex: 0 0 60px;
    }
    .slides {
    }

    .TitleContentTitle {
        font-size: 27px;
    }
    .InfoContentTitle {
        width: 300px;
        font-size: 27px;
    }
    .InfoContentInfo {
        width: 400px;
        font-size: 11px;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .content {
        gap: 20px;
    }

    .slider {
        width: 540px;
    }
    .sliderImg {
        width: 210px;
        height: 210px;
    }
    .slide {
        flex: 0 0 60px;
    }
    .slides {
    }

    .TitleContentTitle {
        font-size: 25px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 25px;
    }
    .InfoContentInfo {
        width: 280px;
        font-size: 9px;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 15px;
    }
}
@media (max-width: 430px) {
    .content {
        gap: 20px;
    }

    .slider {
        width: 540px;
    }
    .sliderImg {
        width: 180px;
        height: 180px;
    }
    .slide {
        flex: 0 0 60px;
    }
    .slides {
    }

    .TitleContentTitle {
        font-size: 23px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 23px;
    }
    .InfoContentInfo {
        width: 280px;
        font-size: 9px;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 15px;
    }
}
@media (max-width: 380px) {
    .content {
        gap: 20px;
    }

    .slider {
        width: 500px;
    }
    .sliderImg {
        width: 160px;
        height: 160px;
    }
    .slide {
        flex: 0 0 60px;
    }
    .slides {
    }

    .TitleContentTitle {
        font-size: 23px;
    }
    .InfoContentTitle {
        width: 240px;
        font-size: 20px;
    }
    .InfoContentInfo {
        width: 280px;
        font-size: 9px;
    }
    .info {
        gap: 10px;
    }

    .InfoContent {
        gap: 15px;
    }
    .titleContent {
        gap: 15px;
    }
}
