@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");

.container {
    padding: 0 200px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.TitleContentTitle {
    font-family: "Shalimar";
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

.titleContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.InfoContentTitle {
    font-size: 40px;
    width: 400px;
    font-weight: 600;
    font-family: serif;
}

.InfoContentInfo {
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.InfoContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sliderImg {
    width: 360px;
    height: 350px;
}

.sliderContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 620px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 310px;
    box-sizing: border-box;
}

.titleContentImg {
    width: 51px;
    height: 14px;
}

.prevButton,
.nextButton {
    background: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prevButton {
    left: 30px;
}

.nextButton {
    right: 30px;
}

.prevButton:hover,
.nextButton:hover {
    background: rgba(0, 0, 0, 0.7);
}

.animate {
    transition: transform 0.5s ease-in-out;
}

@media (max-width: 1430px) {
    .sliderImg {
        width: 350px;
        height: 340px;
    }
    .prevButton {
        left: 55px;
    }

    .nextButton {
        right: 55px;
    }
    .slide {
        flex: 0 0 200px;
    }
    .slider {
        width: 560px;
    }
    .ImgContentImg {
        width: 488px;
        height: 263px;
    }
    .TitleContentTitle {
        font-size: 38px;
    }
    .InfoContentTitle {
        width: 380px;
        font-size: 38px;
    }
    .InfoContentInfo {
        width: 400px;
        font-size: 16px;
    }
}

@media (max-width: 1380px) {
    .sliderImg {
        width: 340px;
        height: 330px;
    }
    .slide {
        flex: 0 0 190px;
    }
    .slider {
        width: 530px;
    }
    .ImgContentImg {
        width: 478px;
        height: 253px;
    }
    .TitleContentTitle {
        font-size: 37px;
    }
    .InfoContentTitle {
        width: 370px;
        font-size: 37px;
    }
    .InfoContentInfo {
        width: 390px;
        font-size: 16px;
    }
}

@media (max-width: 1330px) {
    .sliderImg {
        width: 330px;
        height: 320px;
    }
    .slide {
        flex: 0 0 180px;
    }
    .slider {
        width: 500px;
    }
    .ImgContentImg {
        width: 468px;
        height: 243px;
    }
    .TitleContentTitle {
        font-size: 36px;
    }
    .InfoContentTitle {
        width: 360px;
        font-size: 36px;
    }
    .InfoContentInfo {
        width: 380px;
        font-size: 16px;
    }
    .titleContentImg {
        width: 48px;
        height: 12px;
    }
}

@media (max-width: 1280px) {
    .sliderImg {
        width: 320px;
        height: 310px;
    }
    .slide {
        flex: 0 0 170px;
    }
    .slider {
        width: 480px;
    }
    .ImgContentImg {
        width: 458px;
        height: 233px;
    }
    .TitleContentTitle {
        font-size: 35px;
    }
    .InfoContentTitle {
        width: 350px;
        font-size: 35px;
    }
    .InfoContentInfo {
        width: 370px;
        font-size: 16px;
    }
}

@media (max-width: 1230px) {
    .prevButton {
        left: 60px;
    }

    .nextButton {
        right: 60px;
    }
    .sliderImg {
        width: 310px;
        height: 300px;
    }
    .slide {
        flex: 0 0 160px;
    }

    .ImgContentImg {
        width: 448px;
        height: 223px;
    }
    .TitleContentTitle {
        font-size: 34px;
    }
    .InfoContentTitle {
        width: 340px;
        font-size: 34px;
    }
    .InfoContentInfo {
        width: 300px;
        font-size: 16px;
    }
}
@media (max-width: 1180px) {
    .prevButton {
        left: 50px;
    }

    .nextButton {
        right: 50px;
    }
    .sliderImg {
        width: 290px;
        height: 280px;
    }
    .slide {
        flex: 0 0 140px;
    }

    .ImgContentImg {
        width: 418px;
        height: 193px;
    }
    .TitleContentTitle {
        font-size: 33px;
    }
    .InfoContentTitle {
        width: 310px;
        font-size: 33px;
    }
    .InfoContentInfo {
        width: 280px;
        font-size: 16px;
    }
}
@media (max-width: 1130px) {
    .prevButton {
        left: 40px;
    }

    .nextButton {
        right: 25px;
    }
    .sliderImg {
        width: 280px;
        height: 270px;
    }
    .slide {
        flex: 0 0 130px;
    }

    .ImgContentImg {
        width: 408px;
        height: 103px;
    }
    .TitleContentTitle {
        font-size: 32px;
    }
    .InfoContentTitle {
        width: 300px;
        font-size: 32px;
    }
    .InfoContentInfo {
        width: 270px;
        font-size: 16px;
    }
}
@media (max-width: 1080px) {
    .prevButton {
        left: 25px;
    }

    .nextButton {
        right: 15px;
    }
    .sliderImg {
        width: 260px;
        height: 250px;
    }
    .slide {
        flex: 0 0 120px;
    }

    .ImgContentImg {
        width: 388px;
        height: 83px;
    }
    .TitleContentTitle {
        font-size: 32px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 32px;
    }
    .InfoContentInfo {
        width: 250px;
        font-size: 16px;
    }
}

@media (max-width: 1001px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .prevButton {
        left: 5px;
    }

    .nextButton {
        right: 5px;
    }

    .sliderImg {
        width: 160px;
        height: 150px;
    }
    .slide {
        flex: 0 0 160px;
    }
    .slider {
        width: 320px;
    }
    .ImgContentImg {
        width: 448px;
        height: 223px;
    }
    .TitleContentTitle {
        font-size: 34px;
    }
    .InfoContentTitle {
        width: 340px;
        font-size: 34px;
    }
    .InfoContentInfo {
        width: 300px;
        font-size: 16px;
    }

    .sliderContainer {
        position: relative;
        width: 448px;
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .info {
        gap: 10px;
    }
    .titleContent {
        gap: 12px;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .prevButton {
        left: 10px;
    }

    .nextButton {
        right: 10px;
    }

    .sliderImg {
        width: 160px;
        height: 150px;
    }
    .slide {
        flex: 0 0 160px;
    }
    .slider {
        width: 320px;
    }
    .ImgContentImg {
        width: 448px;
        height: 223px;
    }
    .TitleContentTitle {
        font-size: 34px;
    }
    .InfoContentTitle {
        width: 340px;
        font-size: 34px;
    }
    .InfoContentInfo {
        width: 300px;
        font-size: 16px;
    }

    .sliderContainer {
        position: relative;
        width: 408px;
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: flex-start;
    }
    .titleContent {
        gap: 15px;
    }
}

@media (max-width: 450px) {
    .prevButton {
        left: 17px;
    }

    .nextButton {
        right: 17px;
    }

    .sliderImg {
        width: 130px;
        height: 120px;
    }
    .slide {
        flex: 0 0 80px;
    }
    .slider {
        width: 260px;
    }
    .ImgContentImg {
        width: 418px;
        height: 193px;
    }
    .TitleContentTitle {
        font-size: 33px;
    }
    .InfoContentTitle {
        width: 320px;
        font-size: 33px;
    }
    .InfoContentInfo {
        width: 270px;
        font-size: 16px;
    }

    .sliderContainer {
        position: relative;
        width: 378px;
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: flex-start;
    }
    .titleContent {
        gap: 15px;
    }
}

@media (max-width: 400px) {
    .content {
        padding: 30px 0;
        gap: 10px;
    }
    .prevButton {
        left: 10px;
    }

    .nextButton {
        right: 10px;
    }

    .sliderImg {
        width: 130px;
        height: 120px;
    }
    .slide {
        flex: 0 0 80px;
    }
    .slider {
        width: 260px;
    }
    .ImgContentImg {
        width: 418px;
        height: 193px;
    }
    .TitleContentTitle {
        font-size: 28px;
    }
    .InfoContentTitle {
        width: 320px;
        font-size: 28px;
    }
    .InfoContentInfo {
        width: 270px;
        font-size: 16px;
    }

    .sliderContainer {
        position: relative;
        width: 348px;
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: flex-start;
    }
    .titleContent {
        gap: 15px;
    }
}
@media (max-width: 380px) {
    .InfoContent {
        gap: 12px;
    }

    .content {
        padding: 20px 0;
        gap: 10px;
    }
    .prevButton {
        left: 20px;
    }

    .nextButton {
        right: 20px;
    }

    .sliderImg {
        width: 100px;
        height: 90px;
    }
    .slide {
        flex: 0 0 60px;
    }
    .slider {
        width: 200px;
    }
    .ImgContentImg {
        width: 388px;
        height: 163px;
    }
    .TitleContentTitle {
        font-size: 26px;
    }
    .InfoContentTitle {
        width: 290px;
        font-size: 26px;
    }
    .InfoContentInfo {
        width: 250px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .sliderContainer {
        position: relative;
        width: 328px;
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: flex-start;
    }
    .titleContent {
        gap: 12px;
    }
}
