@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shalimar&display=swap");

.h1 {
  font-size: 64px;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 28px;
}
.h5 {
  font-size: 24px;
}
.bodyXL {
  font-size: 22px;
}
.bodyL {
  font-size: 20px;
}
.bodyM {
  font-size: 18px;
}

.bodyXS {
  font-size: 16px;
}

.bodyS {
  font-size: 15px;
}

.bodyX {
  font-size: 14px;
}

.bodyXM {
  font-size: 12px;
}

//Weight
.regular {
  font-weight: 600;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 400;
}

// FontFamily

.spartan {
  font-family: "Spartan";
}

.shalimar {
  font-family: "Shalimar";
}
.montserrat {
  font-family: "Montserrat";
}
.playfair_display {
  font-family: "Playfair Display";
}
