@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");

.titleContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.TitleContentTitle {
    font-family: "Shalimar";
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

.InfoContentTitle {
    font-size: 40px;
    width: 380px;
    font-weight: 600;
    font-family: serif;
}

.titleContentImg {
    width: 51px;
    height: 14px;
}

.InfoContentInfo {
    font-weight: 400;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.content {
    padding: 50px 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}

.InfoContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 42px;
    justify-content: center;
}

.ImgContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 42px;
    justify-content: center;
    padding: 40px 0;
}

.ImgContentImg {
    width: 658px;
    height: 380px;
}

@media (max-width: 1430px) {
    .ImgContentImg {
        width: 657px;
        height: 380px;
    }
    .TitleContentTitle {
        font-size: 38px;
    }
    .InfoContentTitle {
        width: 380px;
        font-size: 38px;
    }
    .InfoContentInfo {
        width: 480px;
        font-size: 14px;
    }
    .InfoContent {
        gap: 40px;
    }
}

@media (max-width: 1380px) {
    .ImgContentImg {
        width: 628px;
        height: 353px;
    }
    .TitleContentTitle {
        font-size: 37px;
    }
    .InfoContentTitle {
        width: 370px;
        font-size: 37px;
    }
    .InfoContentInfo {
        width: 390px;
        font-size: 13px;
    }
    .InfoContent {
        gap: 40px;
    }
}

@media (max-width: 1330px) {
    .ImgContentImg {
        width: 608px;
        height: 333px;
    }
    .TitleContentTitle {
        font-size: 36px;
    }
    .InfoContentTitle {
        width: 360px;
        font-size: 36px;
    }
    .InfoContentInfo {
        width: 380px;
        font-size: 12px;
    }
    .InfoContent {
        gap: 40px;
    }
    .titleContentImg {
        width: 48px;
        height: 12px;
    }
    .ImgContent {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media (max-width: 1280px) {
    .TitleContentTitle {
        font-size: 35px;
    }
    .InfoContentTitle {
        width: 350px;
        font-size: 35px;
    }
    .InfoContentInfo {
        width: 370px;
        font-size: 11px;
    }
}

@media (max-width: 1230px) {
    .ImgContentImg {
        width: 598px;
        height: 323px;
    }

    .TitleContentTitle {
        font-size: 34px;
    }
    .InfoContentTitle {
        width: 340px;
        font-size: 34px;
    }
    .InfoContentInfo {
        width: 360px;
        font-size: 11px;
    }
}

@media (max-width: 1180px) {
    .ImgContentImg {
        width: 578px;
        height: 303px;
    }

    .TitleContentTitle {
        font-size: 33px;
    }
    .InfoContentTitle {
        width: 310px;
        font-size: 33px;
    }
    .InfoContentInfo {
        width: 340px;
        font-size: 10px;
    }
}
@media (max-width: 1130px) {
    .ImgContentImg {
        width: 568px;
        height: 293px;
    }

    .TitleContentTitle {
        font-size: 32px;
    }
    .InfoContentTitle {
        width: 300px;
        font-size: 32px;
    }
    .InfoContentInfo {
        width: 330px;
        font-size: 10px;
    }
}
@media (max-width: 1080px) {
    .ImgContentImg {
        width: 548px;
        height: 273px;
    }

    .TitleContentTitle {
        font-size: 32px;
    }
    .InfoContentTitle {
        width: 280px;
        font-size: 32px;
    }
    .InfoContentInfo {
        width: 310px;
        font-size: 10px;
    }
}
@media (max-width: 1001px) {
    .InfoContent {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .InfoContent {
        gap: 20px;
    }

    .content {
        padding: 40px 0;
        gap: 15px;
    }

    .ImgContent {
        display: flex;
        padding: 20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .ImgContentImg {
        width: 408px;
        height: 243px;
    }
}
@media (max-width: 480px) {
    .ImgContentImg {
        width: 398px;
        height: 233px;
    }
    .titleContent {
        gap: 15px;
    }
}
@media (max-width: 450px) {
    .ImgContent {
        padding: 15px 0;
    }

    .ImgContentImg {
        width: 378px;
        height: 213px;
    }
}
@media (max-width: 400px) {
    .InfoContent {
        gap: 12px;
    }

    .content {
        padding: 30px 0;
        gap: 10px;
    }

    .TitleContentTitle {
        font-size: 28px;
    }
    .InfoContentTitle {
        font-size: 28px;
    }

    .ImgContent {
        padding: 5px 0;
    }

    .ImgContentImg {
        width: 348px;
        height: 193px;
    }
}
@media (max-width: 380px) {
    .InfoContent {
        gap: 12px;
    }

    .content {
        padding: 20px 0;
        gap: 10px;
    }

    .TitleContentTitle {
        font-size: 26px;
    }
    .InfoContentTitle {
        font-size: 26px;
    }

    .ImgContent {
        padding: 5px 0;
    }

    .ImgContentImg {
        width: 308px;
        height: 163px;
    }
}
