.Contact {
  padding: 50px 0;

  .content {
    display: flex;
    align-items: start;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  .text {
    flex: 1;

    h1 {
      font-size: 36px;
      color: #fff;
      margin-bottom: 20px;
      line-height: 1.3;
    }

    .neighborhood,
    .opening {
      margin-bottom: 20px;

      h3 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #fff;
        line-height: 1.5;
      }
    }

    .btn {
      display: inline-block;
      position: relative;

      .customButton {
        background: none;
        color: white;
        padding: 10px 20px;
        border: 2px solid #ff0000;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0;
        position: relative;
        z-index: 1;

        &:hover {
          background-color: rgba(255, 0, 0, 0.1);
        }

        .arrow {
          margin-left: 10px;
          color: #ff0000;
        }
      }

      .bottomLine {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: #ff0000;
        z-index: 0;
      }
      .topLine {
        position: absolute;
        top: -3px;
        right: 0;
        width: 50%;
        height: 2px;
        background-color: #ff0000;
        z-index: 0;
      }
    }
  }

  .map_div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #fd0303;
    padding: 20px;
    width: 500px;
    height: 440px;
    padding: 40px;
    @media (max-width: 800px) {
      width: 450px;
    }
    @media (max-width: 600px) {
      width: 400px;
      height: 400px;
      padding: 30px;
    }
    @media (max-width: 450px) {
      display: none;
    }

    .map_text {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;

      h3 {
        font-size: 24px;
        color: #1f2731;
        margin-bottom: 15px;
      }

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #007bff;
        font-size: 16px;
        margin-bottom: 10px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        svg {
          font-size: 24px;
          color: #1f2731;
        }

        span {
          font-size: 16px;
          color: #1f2731;
        }
      }

      .mess {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-top: 20px;

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #007bff;
          font-size: 16px;
          margin-bottom: 10px;
          text-decoration: none;
        }
      }
    }

    .map {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      @media (max-width: 768px) {
        width: 100%;
        height: auto;
      }

      @media (max-width: 450px) {
        display: block;
      }

      .gm-style {
        iframe {
          border: none;
          filter: invert(100%);
          @media (max-width: 600px) {
            width: 300px;
            height: 100px;
          }
        }
      }
    }
  }
  .onlyMap {
    display: none;

    @media (max-width: 450px) {
      display: block;
      iframe {
        width: 400px;
        height: 400px;
      }
    }
    @media (max-width: 400px) {
      display: block;
      iframe {
        width: 300px;
        height: 400px;
      }
    }
  }
}
