
body {
	max-width: 100vw;
	overflow-x: hidden;
	color: white;
	background-color: #1B2026;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}



.container {
	max-width: 1400px;
	margin-inline: auto;
	padding-inline: 20px;
	width: 100%;
}
