.Header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid gray !important;
  background: #1b2026;
  // position: sticky;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .logo {
      font-size: clamp(14px, 4vw, 24px);
      font-weight: 500;
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      ul {
        list-style: none;
        display: flex;
        gap: 20px;
      }

      li {
        a {
          color: #fff;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .searchIcon {
        position: absolute;
        left: 10px;
        color: white;
        font-size: 18px;
      }

      .form_field {
        padding: 7px 15px 7px 35px;
        background: #ff0000;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        width: 150px;

        &::placeholder {
          color: #fff;
        }
      }
    }

    .translate {
      select {
        background: transparent;
        color: #fff;
        border: none;
        font-size: 16px;
        padding: 5px;
        outline: none;
        option {
          background: #1a1a1a;
          color: #fff;
        }
      }
    }
  }
}
