$spotify-green: #1db954;
$spotify-black: #191414;
$bg: #1b2026;
$white-color: #ffffff;
$black-color: $spotify-black;
$lightest-slate: #d9dadc;
$navy-shadow: rgba(255, 255, 255, 0.7);
$black: $spotify-black;
$border-radius: 8px;
$transition: 0.3s ease;

.BurgerMenu {
  position: absolute;
  top: 65px;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  padding: 15px;
  background: $bg;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
  height: 75%;
  width: 400px;
  &.active {
    opacity: 1;
    visibility: visible;
  }

  .content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    .nav {
      ul {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        li {
          list-style: none;
          .link {
            font-size: 20px;
            font-weight: 500;
            padding: 7px 14px;
            display: block;
            border-radius: $border-radius;
            color: #fff;
            transition: $transition;

            line-height: 22px;
            &:hover {
              background-color: $lightest-slate;
            }

            &.active {
              background-color: $black;
              color: $white-color;
            }
          }
        }
      }
    }
    .translate {
      padding: 7px 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      a {
        color: #8a8a8a;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #fff;
        }

        &.active {
          border-bottom: 1px solid #fff;
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 900px) {
    width: 400px;
    top: 60px;
    right: 10px;
  }

  @media (max-width: 768px) {
    width: 400px;
    top: 55px;
    right: 5px;

    .content {
      gap: 10px;
    }
  }

  @media (max-width: 480px) {
    width: 400px;
    top: 50px;
    right: 0px;

    .content {
      gap: 8px;
    }
  }

  @media (max-width: 400px) {
    width: 100%;
    top: 50px;
    right: 0px;

    .content {
      gap: 8px;
    }
  }
}
