.mainInterer {
  margin: 50px 0;
  .interer {
    .intererText {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .slider {
      margin-top: 30px;
      .mainImg {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 375px) {
  .mainInterer {
    margin: 10px 0;

    .slider {
      .mainImg {
        img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .mainInterer {
    margin: 10px 0;

    .slider {
      .mainImg {
        img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .mainInterer {
    margin: 10px 0;
    .slider {
      .mainImg {
        img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .mainInterer {
    margin: 10px 0;
    .slider {
      .mainImg {
        img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}